<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI podcast summary </title>
    
    <link rel="stylesheet" href="../static/css/base.css"/>
    <link rel="stylesheet" href="../static/css/buttons.css"/>
    <link rel="stylesheet" href="../static/css/containers.css"/>
    <link rel="stylesheet" href="../static/css/others.css"/>
    <link rel="stylesheet" href="../static/css/dropdown.css"/>
    <link rel="stylesheet" href="../static/css/select.css"/>
    <link rel="stylesheet" href="../static/css/image.css"/>
    

    <script src="./static/js/include.js" async></script>
    <script src="./static/js/test.js" async></script>
    <script src="./static/js/downloads.js" async></script>
    <script src="./static/js/save.js" async></script>
    <script src="./static/js/launchSummerizer.js" async></script>
    
    
</head>





<body>
    <div id="header"></div>
    <div class="box">
        <div class="outlined-block">
            <h1>THE  TEAM</h1>
            <div class="team-container">
                <div class="team-container-member">
                    <h2> Theron </h2>
                    <img src="../assets/images/theron.jpeg" alt="" class="photo" />
                </div>
                <div class="team-container-member">
                    <h2>Corentin </h2>
                    <img src="../assets/images/corentin.jpg" alt="" class="photo" />
                </div>
                <div class="team-container-member">
                    <h2> Baptiste </h2>
                    <img src="../assets/images/baptiste.jpg" alt="" class="photo" />
                </div>
            </div>
        </div>
        <br></br>
        <div class="outlined-block">
            <h1>Who are we ?</h1>
            <h2>We are a team of 3 exchange students from Strasbourg in Offenburg. <br>
                This is our summarization project, we call it Total Sum.</h2>
        </div>
        <div class="container-split"></div>


    </div>
    <br> </br>
    <br> </br>

<div id="footer"></div>
</body>
</html>