<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI podcast summary </title>

    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/buttons.css" />
    <link rel="stylesheet" href="../static/css/containers.css" />
    <link rel="stylesheet" href="../static/css/others.css" />
    <link rel="stylesheet" href="../static/css/dropdown.css" />
    <link rel="stylesheet" href="../static/css/select.css" />
    <link rel="stylesheet" href="../static/css/image.css" />


    <script src="./static/js/include.js" async></script>
    <script src="./static/js/test.js" async></script>
    <script src="./static/js/downloads.js" async></script>
    <script src="./static/js/save.js" async></script>
    <script src="./static/js/launchSummerizer.js" async></script>


</head>




<body>
    <div id="header"></div>
    <div class="box">
        <div class="fit-block">
            <h1>Help for Using the Text Summarization Interface</h1>

            <div class="step">
                <h2 class="step-title">1. Upload the PDF</h2>
                <div class="step-content">
                    <h3>To start, please upload the PDF file you want to summarize:</h3>
                    <ol>
                        <li>Click the <strong>"Choose PDF File"</strong> button in the <strong>"Upload PDF"</strong>
                            section.</li>
                        <li>Select the PDF file from your computer.</li>
                        <li>The file will be uploaded to the form.</li>
                    </ol>
                </div>
            </div>

            <div class="step">
                <h2 class="step-title">2. Summary Settings</h2>
                <div class="step-content">
                    <h3>Adjust the settings according to your needs:</h3>
                    <ol>
                        <li><strong>Type of summarization:</strong>
                            <ul>
                                <li><strong>General sum:</strong> For a general summary of the text.</li>
                                <li><strong>Method-oriented sum:</strong> For a summary focused on the method.</li>
                                <li><strong>Goal-oriented sum:</strong> For a summary focused on the goal of the
                                    article. Adapted to know what this article stand for.</li>
                            </ul>
                        </li>
                        <li><strong>Language of summarization:</strong>
                            <ul>
                                <li><strong>English:</strong> Make the summary in English.</li>
                                <li><strong>French:</strong> Make the summary in French.</li>
                                <li><strong>German:</strong> Make the summary in German.</li>
                            </ul>
                        </li>
                        <li><strong>OpenAI Key:</strong> Enter your OpenAI key to activate the summarization service.
                            This application is working with the openAI</li>
                    </ol>
                </div>
            </div>

            <div class="step">
                <h2 class="step-title">3. Launch the Summary</h2>
                <div class="step-content">
                    <h3>After configuring the settings:</h3>
                    <ol>
                        <li>Click the <strong>"Launch summary"</strong> button. It can take few minutes to process.</li>
                        <li>The summarized text will appear in the <strong>"Text preview"</strong> text area.</li>
                    </ol>
                </div>
            </div>

            <div class="step">
                <h2 class="step-title">4. Download the Results</h2>
                <div class="step-content">
                    <h3>You can download the summary in different formats:</h3>
                    <ol>
                        <li><strong>Podcast:</strong> Click the <strong>"Download MP3"</strong> button to download the
                            audio summary.</li>
                        <li><strong>PDF:</strong> Click the <strong>"Download PDF"</strong> button to download the
                            summary in PDF format.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br> </br>
    <br> </br>



    <div id="footer"></div>
</body>

</html>