<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI podcast summary </title>



    <link rel="stylesheet" href="../static/css/buttons.css" />
    <link rel="stylesheet" href="./static/css/containers.css" />
    <link rel="stylesheet" href="./static/css/base.css" />
    <link rel="stylesheet" href="../static/css/image.css" />


    <script src="../static/js/include.js" async></script>
</head>




<body>

    <div id="indexHeader"></div>
    <div class="begin_container">
        <a href="/interface" id="downloadButton" class="btn_begin">Let's Begin</a>
    </div>
    <div id="footer"></div>
</body>